html {
  padding-top: 70px;
}

.ht-top {
  padding: 20px 15px;
  text-align: center;
}

.ht-top span.glyphicon {
  position: relative;
  left: 60px;
  font-size: 16px;
  vertical-align: middle;
  color: #ccc;
}

.ht-top .ht-time {
  font-size: 22px;
}

/*screen width > 1200px*/
.ht-chart-left {
  float: left;
  width: 400px;
}

.ht-chart-left div {
  width: 400px;
}

.ht-chart-left div.ht-gauge {
  float: left;
  width: 200px;
  height: 200px;
}

.ht-chart-left .ht-pia {
  margin-top: 40px;
  width: 400px;
  min-height: 500px;
}

.ht-chart-left .ht-tag {
  min-height: 60px;
}

.ht-chart-left .ht-source {
  min-height: 80px;
}

.ht-chart-left-source{
  min-height: 160px;
}

.ht-chart-left-source .ht-source{
  display: inline-block;
  width: 200px;
}

.ht-source a{
  text-decoration: none;
  color: #000000;
}

.ht-source a:hover{
  box-shadow: 5px 5px 5px 5px #0f0f0f;
}

.ht-chart-left .ht-likes {
  min-height: 100px;
}

.ht-chart-left .ht-tag p,
.ht-chart-left .ht-source p,
.ht-chart-left .ht-likes p {
  padding-left: 40px;
}

.ht-line,
.ht-chart-right {
  float: left;
  padding: 40px 0 40px 80px;
  width: 740px;
  min-height: 500px;
}

.ht-chart-right .ht-cloud {
  width: 100%;
  min-height: 200px;
}

.ht-chart-right .ht-word {
  width: 100%;
  min-height: 300px;
}

.ht-chart-right .ht-word h3 {
  font-size: 18px;
  font-weight: bold;
}

.ht-chart-right .ht-word ul {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
}

.ht-chart-right .ht-word ul span {
  display: inline-block;
  margin: 5px;
  width: 35px;
  font-size: 16px;
}

.ht-to-comment {
  position: absolute;
  top: 150px;
  right: 220px;
}