body{
  background-color: #719dca;
}

body>div{
  margin: 50px auto;
  padding: 30px 30px 30px 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  background-color: rgba(204,204,204,.3);
  -webkit-animation: rgba 5s ease infinite;
  animation: rgba 4s ease infinite;
}

button{
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: none;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(73, 135, 255, 0.2);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

button:hover{
  background-color: rgba(73, 135, 255,0.5);
}

p{
  font-size: 14px;
  color: #ffffff;
}

input{
  padding-bottom: 5px;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  background: none;
}

input:focus{
  outline: none;
}

#forget-1{
  display: block;
}

#forget-2{
  display: none;
}

.warning{
  color: red;
  font-size: 12px;
}

@-webkit-keyframes rgba{
  0%{
    background-color: rgba(204,204,204,.3);
  }
  50%{
    background-color: rgba(204,204,204,.6);
  }
  100%{
    background-color: rgba(204,204,204,.3);
  }
}

@keyframes rgba{
  0%{
    background-color: rgba(204,204,204,.3);
  }
  50%{
    background-color: rgba(204,204,204,.6);
  }
  100%{
    background-color: rgba(204,204,204,.3);
  }
}