body{
  background: url("../img/signup-bg.png") no-repeat;
  background-size: cover;
  color: #ffffff;
}

.container>header{
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.container>header>h1{
  font-size: 48px;
  font-weight: bolder;
}

.container>header>p{
  margin-top: 30px;
  font-size: 20px;
}

.ht-signup>div:first-child{
  margin: 0 auto;
  width: 80%;
  min-height: 180px;
}

.ht-signup>div:first-child>div{
  display: inline-block;
  position: relative;
  margin: 30px 0 0 10%;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
  width: 40%;
}

.ht-signup>div:first-child>div>label{
  width: auto;
}

.ht-signup>div:first-child>div>label{
  font-size: 16px;
}

.ht-signup>div:first-child>div>div{
  float: left;
  display: inline-block;
  width: 180px;
}

.ht-signup>div:first-child>div>div>input{
  padding-left: 20px;
  box-shadow: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background: none;
}

.ht-signup>div:first-child>div>div>input:focus{
  outline:none;
}

.ht-signup>div:first-child>div>div{
  margin-left: 0;
}

.ht-gender{
  margin-left: 4%;
}

.ht-gender>label,
.ht-gender .radio{
  font-size: 16px;
}

.ht-gender .radio{
  margin-right: 20px;
}

.ht-interst{
  margin: 0 auto;
  width: 80%;
  padding-left: 15%;
}

.ht-interst>label{
  margin: 40px 0 20px 0;
  width: 100%;
  font-size: 16px;
}

.ht-interst>div>label{
  margin: 20px 30px 10px 0;
  font-size: 16px;
}

.ht-interst>div>label:first-child{
  margin-left: 10px;
}

.ht-btn{
  margin-left: 0;
  width: 100%;
}

.ht-btn>button{
  margin: 40px 0  0px 20%;
  border: 2px solid #f9f9f9;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-size: 24px;
  color: #f9f9f9;
  background: none;
}


.ht-btn>button:hover{
  background: rgba(249, 249, 249, 0.53);
}

.warning{
  position: absolute;
  right: 0;
  top: 5px;
  color: red;
}

.required{
  color: red;
}

.ht-yanzheng{
  position: absolute;
  top: -850px;
  width: 100%;
  height: 850px;
  -webkit-transition: top .5s;
  -moz-transition: top .5s;
  -ms-transition: top .5s;
  -o-transition: top .5s;
  transition: top .5s;
  background-color: rgba(0,0,0,0.5);
}

.ht-yanzheng>div{
  padding: 20px;
  margin: 200px auto;
  width: 450px;
  height: 250px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.ht-yanzheng>div>div{
  margin: 20px auto 0px auto;
  width: 80%;
  height: 60px;
}

.radio{
  display: inline-block;
  padding-left: 20px;
  width: 50px;
}

#ht-man,#ht-woman{
  height: auto;
  width: auto;
}