<div>
  <div id="forget-1">
    <p>请输入您的用户名，并确认接收验证码,验证码十五分钟内有效</p>
    <input type="text" name="userName" id="userName" placeholder="用户名">
    <button id="sure-yanzheng">接收验证码</button>
    <p>请输入验证码</p>
    <input type="text" id="yanzheng" placeholder="验证码">
    <button id="sure">确认</button>
  </div>
  <div id="forget-2">
    <p>请输入新密码</p>
    <div>
      <input type="password" id="passWord" name="passWord" placeholder="passWord">
    </div>
    <p>请确认新密码</p>
    <div>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirmPassword">
    </div>
    <br><br>
    <button id="sure-passWord">确认</button>
  </div>
</div>