<div class="container-fluid">
  <div class="content">
    <!-- 动态背景 -->
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas" style="width: 100%"></canvas>
    </div>
    <div>
      <div class="ht-load">
        <header>
          <h1>FTF</h1>
          <p>我们拒绝面面相觑</p>
        </header>
        <form class="form-horizontal">
          <div class="ht-con">
            <div>
              <div class="control-group">
                <div class="controls ht-input">
                  <input type="text" style="display: none"><!-- 浏览器密码缓存处理 -->
                  <input type="text" id="inputEmail" placeholder="用户名" autocomplete="off">
                </div>
              </div>
              <div class="control-group">
                <div class="controls  ht-input">
                  <input type="password" style="display: none"><!-- 浏览器密码缓存处理 -->
                  <input type="password" id="inputPassword" placeholder="密码"  autocomplete="off">
                </div>
              </div>
            </div><div class="control-group ht-sure">
            <div class="controls">
              <label class="inputSure">
                <input type="checkbox" id="inputSure" value="">
                七天之内免登陆
              </label>
            </div>
          </div>
          </div>
          <div class="ht-suretext">
            <div class="ht-input-s">
              <input type="text" id="inputYanzheng" value="" placeholder="验证码" maxlength="4">
            </div><div>
            <img src="#" id="ht-suretxt" width="100%" height="50px">
          </div>
          </div>
          <div class="ht-sign">
            <div class="controls">
              <button type="button" class="btn ht-bnt" id="signin">登录</button>
            </div>
            <div class="controls">
              <a href="signup.html "><button type="button" class="btn">注册</button></a>
            </div>
            <p><a href="forgetPassword.html">找回密码>></a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>