<div class="container">
  <header>
    <a href="index.html"><img src="../img/logo-1.png"></a>
  </header>
  <div>
    <form class="form-horizontal ht-signup">
      <div></div>
      <div></div>
      <div class="ht-interst" id="ht-interest">
        <label>你现在的兴趣是？</label>
        <div>
          <label class="checkbox inline">
            <input type="checkbox" name="popMusic" id="inlineCheckbox1" value="1"> 流行音乐
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="classicalMusic" id="inlineCheckbox2" value="1"> 古典音乐
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="networkNovel" id="inlineCheckbox3" value="1"> 网络小说
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="classicBook" id="inlineCheckbox4" value="1"> 经典书籍
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="film" id="inlineCheckbox5" value="1"> 电影
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="teleplay" id="inlineCheckbox6" value="1"> 电视剧
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="quadraticElement" id="inlineCheckbox7" value="1"> 二次元
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="networkGame" id="inlineCheckbox8" value="1"> 网络游戏
          </label>
          <label class="checkbox inline">
            <input type="checkbox" name="standAloneGame" id="inlineCheckbox9" value="1"> 单机游戏
          </label>
        </div>
      </div>
      <div class="controls ht-btn">
        <button type="submit" id="submit">确认修改</button>
      </div>
    </form>
  </div>
</div>
<div class="ht-left" id="ht-lefe">
  <ul>
    <a href="index.html"><li>主页</li></a>
    <li class="actived">个人空间</li>
    <a href="newPassword.html"><li>修改密码</li></a>
    <li id="out-load">退出登录</li>
  </ul>
</div>